<component name="libraryTable">
  <library name="Spring MVC-4.3.18.RELEASE" type="spring-mvc">
    <properties version="4.3.18.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-portlet-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jstl.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/standard.jar!/" />
      <root url="jar://D:/tomcat/servlet-api.jar!/" />
      <root url="jar://D:/tomcat/apache-tomcat-7.0.88/lib/jsp-api.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>